/PythonCore/nbproject/private/
/PythonDebugger/nbproject/private/
/PythonEditor/nbproject/private/
/PythonHelp/nbproject/private/
/PythonKit/nbproject/private/
/PythonOptions/nbproject/private/
/PythonPlatform/nbproject/private/
/PythonProject/nbproject/private/
/PythonProject2/nbproject/private/
/PythonQshell/nbproject/private/
/PythonSamples/nbproject/private/
/PythonSource/nbproject/private/
/PythonTestrunner/nbproject/private/
/PythonSuite/nbproject/private/
/PythonSuite/build/
/PythonCore/build/
/PythonConsole/build/
/PythonDebugger/build/
/PythonEditor/build/
/PythonHelp/build/
/PythonKit/build/
/PythonOptions/build/
/PythonPlatform/build/
/PythonProject/build/
/PythonProject2/build/
/PythonSamples/build/
/PythonSource/build/
/PythonQshell/build/
/PythonTestrunner/build/
/PythonConsole/nbproject/private/
