/PythonCore/nbproject/private/
/PythonDebugger/nbproject/private/
/PythonEditor/nbproject/private/
/PythonHelp/nbproject/private/
/PythonKit/nbproject/private/
/PythonOptions/nbproject/private/
/PythonPlatform/nbproject/private/
/PythonProject/nbproject/private/
/PythonQshell/nbproject/private/
/PythonSamples/nbproject/private/
/PythonTestrunner/nbproject/private/
/PythonSuite/nbproject/private/
/PythonSuite/build/
/PythonCore/build/
/PythonConsole/build/
/PythonDebugger/build/
/PythonEditor/build/
/PythonHelp/build/
/PythonKit/build/
/PythonOptions/build/
/PythonPlatform/build/
/PythonProject/build/
/PythonSamples/build/
/PythonQshell/build/
/PythonTestrunner/build/
/PythonSuite/GSF/nbproject/private/
/PythonSuite/GsfAPI/nbproject/private/
/PythonSuite/GsfPathAPI/nbproject/private/
/PythonSuite/GsfAPI/build/
/PythonSuite/GsfPathAPI/build/
/PythonSuite/GSF/build/
/PythonSuite/Gsf/nbproject/private/
/Gsf/nbproject/private/
/GsfAPI/nbproject/private/
/GsfPathAPI/nbproject/private/
/GsfAPI/build/
/GsfPathAPI/build/
/Gsf/build/
/PythonSuite/SettingsStorage/nbproject/private/
/SettingsStorage/build/
/SettingsStorage/nbproject/private/